.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    padding: 100px 100px;
}

.products-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* justify-content: space-between; */
    /* row-gap: 50px; */
    gap: 50px;
    /* margin: 50px; */
}