.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.header > div a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}

.header > div a:hover {
    color: #FF9900;
}